#Settings configuration file for the HomeAutomationHub

#Port and host settings the HomeAutomationHub project
hub.port=10042
hub.host=<your server name/ip>

#Database settings for HomeAutomation MySQL database
db=HomeAutomation
username=homeauto
password=<add password here>

# Path to the web-interface portion of the HomeAutomationHub
baseUrl=http://www.example.com/homeAutomation

